<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gavinross.gotravelscotland">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/dragon"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".instructions_page.InstructionsPage"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".HomePage"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:parentActivityName=".instructions_page.InstructionsPage">
        </activity>
        <activity android:name=".TourHomePage"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:parentActivityName=".HomePage">
        </activity>


        <activity android:name=".tour_activities.StartHereDeparturePage"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:parentActivityName=".TourHomePage">
        </activity>
        <activity android:name=".tour_activities.EdinburghPage"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:parentActivityName=".tour_activities.StartHereDeparturePage">
        </activity>
        <activity android:name=".tour_activities.ScottishHeritagePage"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:parentActivityName=".tour_activities.EdinburghPage">
        </activity>
        <activity android:name=".tour_activities.StartHereAdOne"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:parentActivityName=".tour_activities.ScottishHeritagePage">
        </activity>
        <activity android:name=".tour_activities.KingdomOfFife"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:parentActivityName=".tour_activities.StartHereAdOne">
        </activity>
        <activity android:name=".tour_activities.LochLevenPage"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:parentActivityName=".tour_activities.KingdomOfFife">
        </activity>
        <activity android:name=".tour_activities.DunkeldPage"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:parentActivityName=".tour_activities.LochLevenPage">
        </activity>
        <activity android:name=".tour_activities.PitlochryPage"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:parentActivityName=".tour_activities.DunkeldPage">
        </activity>
        <activity android:name=".tour_activities.AdvertPage"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:parentActivityName=".tour_activities.PitlochryPage">
        </activity>



        <activity android:name=".Children"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:parentActivityName=".TourHomePage">
        </activity>
        <activity android:name=".Extra"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:parentActivityName=".TourHomePage">
        </activity>
        <activity android:name=".WhatsOn"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:parentActivityName=".Extra">
        </activity>
        

    </application>

</manifest>